#booking {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  border-collapse: collapse;
  max-width: 900px;
  width: 100%;
  left: 20px;
  margin: 0 auto;
  position: relative;
}

#booking td, #booking th {
  border: 1px solid #ddd;
  padding: 8px;
}

#booking tr:nth-child(even) {
  background-color: #f2f2f2;
}

#booking tr:hover {
  background-color: #ddd;
}

#booking th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #6c95af;
  color: white;
}

#booking button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #6c95af;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#booking button[type="submit"]:hover {
  background: #275baf;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#booking button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}


@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #4CAF50;
}

.home {
  width: 1200px;
  margin: auto;
}


#booking input[type="text"],
#booking input[type="email"],
#booking input[type="tel"],
#booking input[type="url"],
#booking textarea,
#booking button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}


#booking h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 50px;

}

#booking h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#booking input[type="text"],
#booking input[type="email"],
#booking input[type="tel"],
#booking input[type="url"],
#booking textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#booking input[type="text"]:hover,
#booking input[type="datetime-local"]:hover,
#booking textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#booking textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#booking button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #6c95af;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#booking button[type="submit"]:hover {
  background: #275baf;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#booking button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}


#booking input:focus,
#booking textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

.invalid-feedback {
  color: red;
  font-size: 15px;
}
.tbl{
  margin-top: 20px;

}
.searchBar{
  position: absolute;
  right: 20px;
  width: 200px;
  border: 3px solid #6c95af;
  margin-bottom: 20px;
  padding: 10px;
}

